/******************************************************************************
 *  CSS Document: sitename.css
 *  Author: 
 *  Version: 1.0
 *  Description: 
 *  ***************************************************************************/

/********************************
*   Global   
********************************/

/* @Reset ***/



/* @General ***/
/* @Fonts ***/
/* @Headings ***/
/* @Anchors ***/
/* @Paragraphs ***/
/* @Lists ***/
/* @Quotes ***/
/* @Images ***/
/* @Buttons ***/
/* @Forms ***/
/* @Tables ***/
/* @Colors ***/
/* @Others ***/


/********************************
*    @Default @Layout:    
********************************/


/* @Header ***/

/* @Contents ***/
	.sr-only {
	    border: 0 none;
	    clip: rect(0px, 0px, 0px, 0px);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}

/* @Footer ***/

/********************************
*   Components   
********************************/

/********************************
*   Modules   
********************************/

/********************************
*   Navigation  
********************************/
	
/********************************
*   Others  
********************************/
/********************************
*   Media Queries  
********************************/

/*Tabla de pantallas:

Mobile:
	320x480
	320x530
	320x569
	360x640
	384x640
	400x640

Tablets:
	600x800
	600x1024
	768x1024

Desktop:
	1024x768
	1280x800
	1600x900
	1920x1200

*/
